* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.blender {
    position: fixed;
    left: calc(50% - 125px);
    top: calc(50% - 250px);
    width: 250px;
    height: 500px;
    background-image: url("img/licuadoraApagada.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.blender.active {
    background-image: url(img/licuadoraEncendida.gif);
}

.blender-btn {
    margin: 350px auto 0;
    width: 70px;
    height: 70px;
    background: transparent;
}